* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    background: #fff;
    
}

.logo img {
    height: 60px;
    margin-right: 10px;
}



.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px
}

.nav-icons {
    display: flex;
    gap: 25px;
    font-size: 18px;
    cursor: pointer;
}


.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?q=80&w=2000') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8%;
}

.hero-content {
    background-color: #FFF3E3;
    padding: 50px;
    max-width: 550px;
    border-radius: 10px;
}

.subtitle {
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 48px;
    color: #B88E2F;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content .description {
    color: #333;
    margin-bottom: 40px;
    line-height: 1.6;
}

.buy-btn {
    background-color: #B88E2F;
    color: white;
    border: none;
    padding: 20px 60px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover {
    background-color: #967425;
}


.browse-range {
    padding: 60px 8%;
    text-align: center;
}

.browse-range h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.browse-range p {
    color: #666;
    margin-bottom: 50px;
}

.range-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.range-item h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.img-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.footer-action {
    display: flex;         
    justify-content: center; 
    align-items: center;     
    width: 100%;           
    margin-top: 40px;      
    margin-bottom: 40px;   
}

.show-more-btn {
    border: 1px solid #B88E2F;
    background-color: #fff;
    color: #B88E2F;
    padding: 12px 80px;       
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.show-more-btn:hover {
    background-color: #B88E2F;
    color: #fff;
}



@media (max-width: 768px) {
    .nav-links { display: none; }
    .range-grid { grid-template-columns: 1fr; }
    .hero { justify-content: center; padding: 20px; }
    .hero-content { padding: 30px; }
}













.products-container {
    padding: 50px 8%;
    background-color: #fff;
}

.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #3A3A3A;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    margin-top: 32px;
}

.product-card {
   width: 100%; 
    background-color: #F4F5F7;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-box {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.details {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.72);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}

.product-card:hover .overlay,
.overlay.always-visible {
    opacity: 1;
}

.add-btn {
    background-color: #fff;
    color: #B88E2F;
    border: none;
    padding: 12px 50px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.action-icons {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}


.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.badge-discount { background-color: #E97171; }
.badge-new { background-color: #2EC1AC; }


 .details {
    padding: 15px;
}

.details h3 {
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 8px;
}

.details p {
    color: #898989;
    font-size: 16px;
    margin-bottom: 12px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curr {
    font-size: 18px;
    font-weight: 600;
    color: #3A3A3A;
}

.old {
    color: #B0B0B0;
    text-decoration: line-through;
    font-size: 14px;
}


@media (max-width: 1024px) {
    .product-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .product-grid { grid-template-columns: 1fr; }
}




.gallery {
    padding: 40px 0;
    background-color: #fff;
    overflow: hidden;
}

.gallery-header {
    text-align: center;
    margin-bottom: 30px;
}

.gallery-header p {
    color: #616161;
    font-size: 16px;
    font-weight: 600;
}

.gallery-header h2 {
    color: #3A3A3A;
    font-size: 32px;
    font-weight: 700;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr; 
    gap: 15px;
    align-items: center;
    width: 150%;
    margin-left: -25%; 
}


.g-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-left, .gallery-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gallery-left .top, .gallery-right .top,
.gallery-left .bottom, .gallery-right .bottom {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
}

.gallery-left .top { height: 350px; align-items: flex-end; }
.gallery-left .bottom { height: 300px; align-items: flex-start; }

.gallery-center {
    height: 450px;
}

.gallery-right .top { height: 380px; align-items: flex-end; }
.gallery-right .bottom { height: 280px; align-items: flex-start; }


.gallery-left .top img:first-child { width: 25%; }
.gallery-left .top img:last-child { width: 75%; }

.gallery-right .top img:first-child { width: 70%; }
.gallery-right .top img:last-child { width: 30%; }